@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-red: #ec1840;
    --color-purple: #7a18ec;
    --color-white: #fff;
    --color-black-1: #111;
    --color-black-2: #222;
    --color-black-3: #444;
    --speed-normal: 0.5s;
    --speed-fast: 0.8s;
}

body {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    background: rgb(66,84,101);
    font-family: "Archivo Black", sans-serif;

}
h1 {
    color: white;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
  }

  
.flex-container > div {
    text-align: center;
    line-height: 75px;
    align-items: center;
}


textarea {
    
    display:block;
    border-radius: 1px;
    height: 75%;
    width: 100%;
    resize: none;
    background-color: rgb(218, 220, 223);
}
.about_text{
    font: 14px "Roboto";
}
.about_b{
    font: 12px "Roboto Thin", sans-serif;
}
.paste_code_here {
    position: absolute;
    right: 70%;
    width: 100px;
    top: 120px;
    width: auto;
    height:60px;
}
@media only screen and (max-width: 702px) {
    .whatlang-header {
        font-size: 2em;
    }
    textarea {
        width: 80%;
    }
}

@media only screen and (max-width: 1639px) {
    .flex-container {
        display: inline-block;
      }

    .paste_code_here {
        display:none;
    }
    textarea {
        display:inline-block;
        border-radius: 1px;
        height: 75%;
        width: 100%;
        resize: none;
        background-color: rgb(218, 220, 223);
    }
    .whatlang-header {
        font-size: 3em;
    }
}

.container {
    display: block;
    width:100%;
    margin:auto;
}

.button_div {
    margin: 20px;
    display: block;
    margin:auto;
}

.button {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    margin: auto;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '()';
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 0px;
}

.button:hover span:after {
    opacity: 1;
}

.button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 0px 0px 0px;
}

.button {
    background-image: linear-gradient(45deg, #f3ec78, #af4261)
}

.button:hover {
    background-position: right center;
}

.whatlang-header {
    font-weight: normal;
    font-size: 6em;
    text-align: center;
    margin: 10px;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


@keyframes animate {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -480px;
    }
}



/* Container styles */


.container {
    padding: 50px 0;
    text-align: center;
}

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
}

.chart figcaption {
    padding: 50px 25px;
    width: 100px;
    height: 50px;
    border: 20px solid #f0f0f0;
    border-radius: 100px;
    line-height: 50px;
}

.chart img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
    top: 50px;
    left: 45px;
}

.html + svg .outer {
    stroke: #e34f26;
}

.css {
    top: 55px;
    left: 48px;
}

.css + svg .outer {
    stroke: #0d84ce;
}

.javascript {
    max-width: 90px;
    max-height: 90px;
    top: 45px;
    left: 45px;
}

.javascript + svg .outer {
    stroke: #f0e040;
}

.node {
    width: 200px;
    height: 200px;
    top: 45px;
    left: 45px;
}

.node + svg .outer {
    stroke: #83cd29;
}

.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;

    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
    stroke-dashoffset: 534 !important;
    -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}

.chart[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}

.chart[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}

.chart[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 134;
    }
}

@keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 124;
    }
}

@-webkit-keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 267;
    }
}

@keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 267;
    }
}

@-webkit-keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 401;
    }
}

@keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 401;
    }
}

#home {
    width: 46px;
    height: 44px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
ul {
    display: block;
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
}



body {
    background-color:rgb(66,84,101);
}

