<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="The whatlang project">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/about.css') }}">
    <title>about</title>
    <meta charset="UTF-8">
</head>
<body>




</body>
<body>
<ul>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="/">
    <li><img id="home" src="{{ url_for('static',filename='resources/Frame.png') }}"></li>
    </a>
    <li style="float:right"><a href="https://github.com/CodeByMini/whatlangio" target="_blank">GitHub</a><i class="fa fa-fw fa-contact"></i></li>
    <li style="float:right"><a href="mailto:contact@whatlangio.com" target="_blank">Contact</a><i class="fa fa-fw fa-contact"></i></li>
    <!--    <li style="float:right"><a class="active" href="#about">About</a></li>-->
</ul>
<div class = "about_text">
    <br>
    <h1 style="font-size:5vw;">THE WHATLANG PROJECT</h1>
    <div align="center">
        <div class="logo">
            <img src="{{ url_for('static',filename='resources/Frame.png') }}" alt="Snow" width="200" height="200">

        </div>

        <p class="about_text" style="color:white"><br>We are three Stockholm based IoT-Students by day, total geeks by night.</p>
        <p class="about_b" style="color:white">The what lang project is a docker application that analyzes code and calculates
            probability for each code language. With time, it will learn and be better.</p>

    </div>


</div>




<div class="container">
    <!--    https://www.linkedin.com/in/robin-ellingsen-9a75b465/-->

    <div class="column">
        <a href="https://www.linkedin.com/in/vincent-palma-47101954/">
            <img src="{{ url_for('static',filename='resources/vincent.png') }}" alt="Vincent" width="400" height="400"></a>
        <a href="https://www.linkedin.com/in/robin-ellingsen-9a75b465/">
            <img src="{{ url_for('static',filename='resources/robban.png') }}" alt="Robin" width="400" height="400"></a>

        <a href="https://www.linkedin.com/in/daniel-johansson-4b099219a/">
            <img src="{{ url_for('static',filename='resources/danne.png') }}" alt="Robin" width="400" height="400"></a>
    </div>

</div>






</body>
</html>