<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="The whatlang project">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <title>whatlang?</title>
</head>


<body>


    <!--<h1 class="whatlang-header">whatlang?</h1>-->
    <div align = 'center' class="container">
    <h1 class="whatlang-header">{{language}}</h1>
    <script src="{{ url_for('static',filename='scripts/jquery.js') }}" data="{{listprobabilities}}" id="chartdata"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>



</div>
    <div>
        <!-- <img class="node"  src="https://cdn.jsdelivr.net/npm/programming-languages-logos/src/python/python.png"> -->
    </div>
        <!--CHART!-->
    <div>
        <br>
        <br>
        <canvas id="chart" height="300" width="300"></canvas>
        <script src="{{ url_for('static',filename='scripts/main.js') }}" data={{language}} id="chartdata"></script>

    </div>


</body>


</html>
